{% extends "base.html" %}
{% block title %}Настройка правил тегов{% endblock %}
{% block content %}

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab"
        data-tabs-toggle="#default-tab-content" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile"
                type="button" role="tab" aria-controls="profile" aria-selected="false">Правила тегов</button>
        </li>
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                aria-selected="false">Отслеживание проектов</button>
        </li>
    </ul>
</div>
<div id="default-tab-content">
    <div class="hidden rounded-lg" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <h2 class="text-3xl font-extrabold dark:text-white my-8">Настройка действий при установке тегов</h2>

        {% if not initialized %}
        <p class="text-gray-500 dark:text-gray-400 my-6">Сначала нужно <a href="/settings/bitrix"
                class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                настроить интеграцию Bitrix24
                <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a></p>

        {% else %}

        {% if tag_rules|length > 0 %}
        <div class="relative overflow-x-auto shadow-md dark:shadow-gray-800 sm:rounded-lg mb-6">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-2 py-3 w-4"></th>
                        <th scope="col" class="px-2 py-3">
                            Тег
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Действие
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Проект
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Колонка
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag_rule in tag_rules%}
                    <tr
                        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                        <td class="px-2 py-4 w-4">
                            <a href="/settings/bitrix/tag-rules/rule/{{ tag_rule.id }}">
                                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778" />
                                </svg>

                            </a>

                        </td>
                        <td class="px-2 py-4 dark:text-white">{{ tag_rule.tag }}</td>
                        <td class="px-2 py-4 dark:text-white">
                            {{ "Добавление" if tag_rule.action == 0 }}
                            {{ "Перемещение" if tag_rule.action == 1 }}
                        </td>
                        <td class="px-2 py-4 dark:text-white">{{ tag_rule.project_name }}</td>
                        <td class="px-2 py-4 dark:text-white">{{ tag_rule.section_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/settings/bitrix/tag-rules/rule/new"
            class="my-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Новое
        </a>

        {% else %}

        <p class="text-gray-500 dark:text-gray-400 my-6">Нет сохраненных правил, создайте <a
                href="/settings/bitrix/tag-rules/rule/new"
                class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                новое
                <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a></p>

        {% endif %}

        {% endif %}
    </div>
    <div class="hidden rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <h2 class="text-3xl font-extrabold dark:text-white my-8">Отслеживать события в проектах:</h2>
        <form action="/settings/bitrix/projects-listening" method="POST">
            <div class="grid gap-6 mb-6 lg:grid-cols-3 md:grid-cols-2">
                {% for project in avail_projects%}
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input {{ "disabled checked" if project.gid == main_project_gid }} id="{{ project.gid }}" type="checkbox" value="{{ project.gid }}" name="listen" {{ "checked" if
                        project.gid in listen_projects }}
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="{{ project.gid }}"
                        class="w-full p-2 py-4 md:py-2 ms-2 text-sm font-medium {{ "text-gray-400" if project.gid == main_project_gid else "text-gray-900" }} dark:text-gray-300">{{
                        project.name }}
                        {% if project.gid == main_project_gid %}
                        <p class="text-xs">Это проект для челленджей, он обязательно отслеживается</p>
                        {% endif %}
                        </label>
                </div>
                {% endfor %}
            </div>
            <button id="save_btn"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Сохранить</button>
            <div class="hidden" id="loading_btn">
                <button disabled type="button"
                    class="py-2.5 px-5 me-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
                    <svg aria-hidden="true" role="status"
                        class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="#1C64F2" />
                    </svg>
                    Сохранение...
                </button>
                <script>
                    const form = document.getElementById('form');
                    const el1 = document.getElementById('save_btn');
                    const el2 = document.getElementById('loading_btn');

                    form.addEventListener('submit', (event) => {
                        event.preventDefault(); // Чтобы форма не отправлялась и страница не перезагружалась

                        if (form.checkValidity()) {
                            // Если форма валидна, меняем классы
                            el1.classList.add('hidden');
                            el2.classList.remove('hidden');
                            form.submit()
                        } else {
                            // Если форма не валидна, покажем браузерное сообщение об ошибке
                            form.reportValidity();
                        }
                    });
                </script>
        </form>
    </div>
</div>
</div>



{% endblock %}